<h1 class="page-header">
    Watch, rate and share fun! <img src="/images/smileyTop.png">
</h1>
<div>
    {% if not app.user %}
        <a class="btn btn-register-facebook" href="#" onclick="fb_login();">Connect with Facebook</a> OR <button class="btn btn-primary"  data-toggle="modal" data-target="#loginModal" > Connect/Sign up</button>
    {% else %}
        <div class="text-center">
            <button class="btn btn-primary text-center" data-toggle="modal" data-target="#newPostModal"><H4><strong> + Post your paintball fun </strong></H4></button>
        </div>
    {% endif %}
</div>