<div class="alert alert-success thermsAndAgreementNotif front-z-index" role="alert">
    By using this website, you agree the <a href="#" class="showThermsAndAgreements">therms of agreements</a> and the use of cookies.
    <button class="btn btn-primary">Agree and close</button>
</div>
<span id="setCookieThermsAndAgreementsUrl" hidden>{{ path('smile_api_setThermsAndAgreementsCookie') }}</span>
<span id="showThermsAndAgreements" hidden>{{ path('smile_platform_showThermsAndAgreements') }}</span>