{% extends "SkynetBundle::Default/dashboard.html.twig" %}
{% block pageHeader %}
    <h1 class="page-header">
        Groups
    </h1>
{% endblock %}

{% block rightCollumn %}
    groups
{% endblock %}